<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoyfzTIQJn0J-JfANpHvhwoud8Ugftlj0</string>
	<key>GCM_SENDER_ID</key>
	<string>170430454912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>simplechatapp-6fb74</string>
	<key>STORAGE_BUCKET</key>
	<string>simplechatapp-6fb74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170430454912:ios:8b67bd9dae7429380a9a65</string>
</dict>
</plist>